<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Corona Tracker - About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Roboto" rel="stylesheet">
<meta name="viewport" content="width=700"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">

    </head>
    
    <body>
    
    
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" style="background-color:black">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Corona <em>Tracker </em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Myth</a></li>
                            <li class="scroll-to-section"><a href="#features">Preventions</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Symptoms</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Q&A Section</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">More about Covid-19</a></li> 
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

  
    <!-- ***** Features Item Start ***** -->
    <section class="section" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Coronavirus disease (COVID-19) <em>Myth and Myth
busters</em></h2>
                        <br /><br />
<center>
    <div class="chat" style="width:80%;margin-right:10%;">
                        <div class="chat-history">
        <ul style="float: left;">
        <li>
            
            <div class="message my-message">
            <h4>Myth</h4>
              It has been mentioned that cold weather and snow cannot kill the coronavirus.
            </div>
          </li>
         <li class="clearfix">
         
            <div class="message other-message float-right">
         <h4>Fact</h4>
              It has been confirmed that coronavirus can be transmitted in areas with hot and humid climates.&nbsp;&nbsp;

            </div>
          </li>
         <li>
            
            <div class="message my-message">
              <h4>Myth</h4>For sterlisation of skin, using ultravoilet light is a good idea
            </div>
          </li>
          <li class="clearfix">
         
            <div class="message other-message float-right">
           <h4>Fact</h4> No ,it can cause skin irritation and makes skin dry, high UV levels may reduce the effectiveness of vaccines.
            </div>
          </li>
          
          
          <li>
            
            <div class="message my-message">
            <h4>Myth</h4>
              Taking a hot bath will prevent you from catching COVID-19. 
            </div>
          </li>
         <li class="clearfix">
         
            <div class="message other-message float-right">
         <h4>Fact</h4>
             Your normal body temperature remains around 36.5°C to 37°C, Actually, taking a hot bath with extremely hot water can be harmful. 

            </div>
          </li>
         <li>
            
            <div class="message my-message">
              <h4>Myth</h4>Hot peppers in your food,can prevent from COVID-19
            </div>
          </li>
          <li class="clearfix">
         
            <div class="message other-message float-right">
           <h4>Fact</h4> Though very tasty, it cannot prevent or cure COVID-19. The best way to protect yourself against it is to keep at least 1 metre away from others and to wash your hands frequently and thoroughly.
            </div>
          </li>
          
          
        </ul>
        
      </div> <!-- end chat-history --></div></center>
                    </div>
                </div>
                 <div class="col-lg-12" id="features">          <div class="section-heading">
                        <h2>Coronavirus disease (COVID-19) <em>Preventions</em></h2>
</div></div>

               
                <div class="col-lg-6">
                    
                     
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/hands.png' %}" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Wash your hands</h4>
                                <p>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</p>
                                <a href="#" class="text-button">Read More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/distance.png' %}" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Maintain Distance</h4>
                                <p>Maintain at least 1 metre distance between you and people coughing or sneezing i.e social distancing is must.</p>
                                <a href="#" class="text-button">Read More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/touch.png' %}" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Avoid Touching your Face</h4>
                                <p>Avoid touching your face, wash your hands and face with soap and water.</p>
                                <a href="#" class="text-button">Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/mask.png' %}" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Cover your sneeze</h4>
                                <p>Cover your mouth and nose when coughing or sneezing, or this will spread grems to other people.
</p>
                                <a href="#" class="text-button">Read More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/home.png' %}" alt="training fifth">
                            </div>
                            <div class="right-content">
                                <h4>Stay at Home</h4>
                                <p>If unwell then isolate yourself, stay at home and come out only in emergency.</p>
                                <a href="#" class="text-button">Read More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/smoking.png' %}" alt="gym training">
                            </div>
                            <div class="right-content">
                                <h4>Stop Spitting & Smoking</h4>
                                <p>Refrain from smoking and other activities that weaken the lungs.</p>
                                <a id="our-classes" href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

 <div class="section-heading" style="margin-top:0px !important">
                        <h2>Coronavirus disease (COVID-19) <em>Symptoms</em></h2></div>
<div class="cards">

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="{% static 'assets/images/temperature.jpg' %}" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Most Common Symptoms	
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
   <ul class="cardli">
        	<li>-> fever.</li>
		<li>-> dry cough.</li>
		<li>-> tiredness.</li>
</ul>
         </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="{% static 'assets/images/throat.jpg' %}" alt="beach" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Least Common Symptoms
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
     <ul class="cardli">
     <li>-> aches and pains.</li>
<li>-> sore throat.</li>
<li>-> diarrhoea.</li>
<li>-> conjunctivitis.</li>
<li>-> headache.</li>
<li>-> loss of taste or smell.</li>
<li>-> a rash on skin, or discolouration of fingers or toes.</li>

    
</ul>
 </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="{% static 'assets/images/breath.jpg' %}" alt="mountain" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Serious <br />Symptoms
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
<ul class="cardli"><li>-> difficulty breathing or shortness of breath.</li>
<li>-> chest pain or pressure.</li>
<li>-> loss of speech or movement.</li>
</ul>

      </div>
      <div class="card-flap flap2" id="schedule">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="section-heading" style="margin-top:0px !important">
                        <h2>Coronavirus (COVID-19) <em>Q&A Section</em></h2></div>

<div class="col-lg-10 offset-sm-1">
<div id="help">
    <ul>
	        <li style="padding:20px;">
            Q1) What is Coronavirus?
            <ul style="border:1px solid;">
                <li>
                    <b>Ans. </b>Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.
                </li>
            </ul>
        </li>
      <li  style="padding:20px;">
            Q2) What is COVID-19?
            <ul style="border:1px solid;">
                <li>
                   <b>Ans. </b>COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019. COVID-19 is now a pandemic affecting many countries globally.

                </li>
            </ul>
        </li>
        
         <li  style="padding:20px;">
             Q3) What should I do if I have covid-19 symptoms and when should I seek medical care?

            <ul style="border:1px solid;">
                <li>
                   <b>Ans. </b>For minor symptoms such as a slight cough or a mild fever, there is generally no need to seek medical care. Stay at home, self-isolate and monitor your symptoms.<br /><br />
Seek immediate medical care if you have difficulty breathing or pain/pressure in the chest. If possible, call your health care provider in advance, so he/she can direct you to the right health facility.

                </li>
            </ul>
        </li>
        
         <li  style="padding:20px;">
            Q4) How does COVID-19 spread?
            <ul style="border:1px solid;">
                <li>
                   <b>Ans. </b>People can catch COVID-19 from others who have the virus. <br /><br />
The disease spreads primarily from person when a person with COVID-19 coughs, sneezes, or speaks.<br /><br />
They can spread from the droplets when an affected person speaks,cough or sneeze,because they are relatively heavy and cannot go far so person standing near may get infected.<br /><br />
 This is why it is important to stay at least 1 meter away from others. <br /><br />
These droplets can land on objects and surfaces around the person such as tables, doorknobs and handrails.  <br /><br />
People can become infected by touching these objects or surfaces, then touching their eyes, nose or mouth.  <br /><br />
This is why it is important to wash your hands regularly with soap and water or clean with alcohol-based hand rub.

                </li>
            </ul>
        </li>
        
         <li  style="padding:20px;">
            Q5) What can I do to protect myself and prevent the spread of this disease?
            <ul style="border:1px solid;">
                <li>
                    <b>Ans. </b>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water as it  kills viruses that may be on your hands.<br /><br />
Maintain at least 1 metre distance between yourself and others because if  you are too close, you can breathe in the droplets, including the COVID-19 virus if the person has the disease.<br /><br />
Avoid going to crowded places because you are more likely to come into close contact with someone that has COVID-19 and it is more difficult to maintain physical distance of 1 metre.<br /><br />
Avoid touching eyes, nose and mouth as hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.<br /><br />
Make sure you, and the people around you, follow good respiratory hygiene.By following good respiratory hygiene, you protect the people around you from viruses such as cold, flu and COVID-19.<br /><br />
     Stay home and self-isolate even with minor symptoms such as cough, headache,          mild fever, until you recover. Avoiding contact with others will protect them from possible COVID-19 and other viruses.

                </li>
            </ul>
        </li>
        
         <li  style="padding:20px;">
            Q6) Are antibiotics effective in preventing or treating COVID-19?

            <ul style="border:1px solid;">
                <li>
                  No. Antibiotics do not work against viruses, they only work on bacterial infections. COVID-19 is caused by a virus, so antibiotics do not work. In hospitals physicians will sometimes use antibiotics to prevent or treat secondary bacterial infections which can be a complication of COVID-19 in severely ill patients. They should only be used as directed by a physician to treat a bacterial infection.

                </li>
            </ul>
        </li>
        
         <li  style="padding:20px;">
            Q7) What is the connection between COVID-19 and animals?
            <ul style="border:1px solid;">
                <li>
                   <b>Ans. </b>COVID-19 is spread through human-to-human transmission.
We already know a lot about other viruses in the coronavirus family and most of these types of viruses have an origin in animals. The COVID-19 virus (also called SARS-CoV-2) is a new virus in humans. The possible animal source of COVID-19 has not yet been confirmed but research is ongoing.


                </li>
            </ul>
        </li>
    </ul>
</div>
</div>
    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>More about<em>Covid-19</em></h2>
                        <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'>SARS – COV-2 Is a new Corona virus</a></li>
                  <li><a href='#tabs-2'>SARS – COV-2 coming out of cell</a></a></li>
                  <li><a href='#tabs-3'>SARS - COV-2 Incubation period</a></a></li>
                  <li><a href='#tabs-4'>Treatment & Effects of COVID-19</a></li>
                  
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                  <UL class="cardli2" style="list-style-type:disc;">
                  
                  <LI>-> SARS-COV-2 originated in Bats</LI>
<LI>-> Special corona virus have jumped species and can be transmitted between people.</LI>
<LI>-> This is the third corona virus to have done since 2002:</LI>
<LI>-> Severe Acute Respiratory Syndrome(SARS) :COV emerged in GUANDONG,China,in 2002</LI>
<LI>-> Middle EASTERN Respiratory Syndrome(MERS): COV emerged in the Middle East in 2012</LI>
<LI>-> SARS-COV-2: Emerged in WUHAN,China,in 2019</LI>
<LI>-> SARS-COV-2 is the virus that causes the illness we call COVID-19(short of “coronavirus disease emerged in 2019”)</LI>
                 </UL> </article>
                  <article id='tabs-2'>
                    <img src="{% static 'assets/images/image1.png' %}" alt="Second Training" height="250">
                  <br /><br />
                    <ul>
 <li>                   Not everyone who is infected gets sick.</li>
<li>If someone gets sick…..</li>
<li>What are the  signs and symptoms?</li>
<li style="padding-left:20px;">-> Many symptoms (such as fever,cough and myalgia[muscle pain]) are non-specific.</li>
<li style="padding-left:20px;">-> Some Symptoms are more specific for COVID-19</li>
    <li>   Eg, one third of patients report a recent loss of the ability to taste         or smell. This is very uncommon in other infections.
    </li></ul>              </article>
                  <article id='tabs-3'>
                    <img src="{% static 'assets/images/image2.png' %}" alt="Third Class" height="300px">
                   <br /><br /> <ul><li>-> 
                   It is the time from when someone is infected until symptoms develop.</li>
<li>-> The sars-cov-2  incubation period ranges from 2-14 days.</li>
<li>-> 50% of people will become ill by 5 days after they get infected.
</li><li>The infectious period for people with COVID-19 disease. </li>
<li>It begins 2 days ,before the start of signs and symptoms of disease and ends with atleast 10 days after the end of illness.
     </li></ul>             
                  </article>
                  <article id='tabs-4'>
                   
                    <h4>Treatment of Covid-19</h4>
       <ul><li>           Treatment is to support the body’s functions until the body’s immune system can fight the infection.</li>
<li>Many patients with lung disease require mechanical ventilation to help them breathe.</li>
<li>People who need it will receive support to keep their lungs working so that the body can continue to get the oxygen it needs.</li>
<li>There is no such vaccine developed till now to cure this disease.
   </li></ul>             
    <h4>Effects of Covid-19</h4> 
    <img src="{% static 'assets/images/image3.png' %}" alt="Third Class">
                   
     </article>
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
   
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                    
                    Made By <a rel="nofollow" href="#" class="tm-text-link" target="_parent">Cheese Weasels</a></p>
                    
                    
                </div>
            </div>
        </div>
    </footer>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script  src="{% static 'script.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
